.detalle-pizza-btn{
    width: 100px;
    height: auto;
    border-radius: 16px;
    background-color: aqua;
    text-align: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
}
.detalle-pizza-btn:hover{
    border: 1px solid red;
    background-color: aquamarine;
    color: black;
}